[Desktop Entry]
Version=1.0
Name=Gfret
GenericName=Fretboard Layout Tool
X-GNOME-FullName=Gfret Fretboard Layout Tool
Comment=Create an svg template of a fretted stringed instrument fretboard
Keywords=image;editor;vector;drawing;
Type=Application
Categories=Graphics;VectorGraphics;GTK;
Exec=gfret
TryExec=gfret
Terminal=false
StartupNotify=true
Icon=gfret
X-Ayatana-Desktop-Shortcuts=Drawing

[X-Drawing Shortcut Group]
Name=New Fretboard
Exec=gfret
TargetEnvironment=Unity
